*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebecf2;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #1e7cf7;
}

.blue-text {
  color: #1e7cf7;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

nav,
nav a,
.nav-link,
nav i {
  text-transform: uppercase;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  color: #fff;
  z-index: 1;
}

.nav-link:hover {
  color: #1e7cf7;
}

.navbar-brand {
  font-weight: bold;
}

.active {
  color: #1e7cf7;
}

.fa-bars {
  padding: 10px;
}

header {
  color: #fff;
}

header h1 {
  font-size: 30px;
  text-transform: uppercase;
}

header p {
  font-size: 14px;
}

header a {
  color: #fff;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/playstation-g6853756b0_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px;
  text-align: center;
  z-index: 0;
}

header .big-text {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-chevron-down {
  position: absolute;
  font-size: 60px;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
  color: #000;
}

.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}

.aboutus .aboutus-card-text {
  font-size: 14px;
}

.aboutus .aboutus-hover:hover {
  color: #1e7cf7;
}

.aboutus-hero {
  position: relative;
  background-image: url(../img/technology-g0c76a15e4_640.jpg);
  background-position: center;
  background-size: cover;
  color: #ddd;
  z-index: 0;
}

.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.aboutus-hero .aboutus-hero-item {
  margin: 10px 0;
}

.aboutus-hero .aboutus-hero-item i {
  font-size: 36px;
}

.aboutus-hero .aboutus-hero-item .aboutus-hero-title {
  font-size: 24px;
}

.portfolio .carousel-item {
  height: 600px;
}

.portfolio .carousel-inner {
  position: relative;
}

.portfolio .carousel-inner .portfolio-shadow {
  position: absolute;
  bottom: 20px;
  padding: 30px 0 10px;
  height: 130px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ddd;
  text-align: center;
}

.portfolio .carousel-inner h5 {
  margin: 0;
}

.prices .price-box {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.prices .price-box h3 {
  text-transform: uppercase;
  color: #1e7cf7;
}

.prices .price-box span {
  font-weight: bold;
}

.prices .price-box i {
  padding: 0 5px;
  font-size: 24px;
}

.prices .price-box .price-tag {
  font-weight: bold;
  font-size: 30px;
}

.prices .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}

.prices .price-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.prices .price-info {
  margin-top: 30px;
}

.prices .price-info a {
  text-decoration: none;
}

.team-hero {
  position: relative;
  background-image: url(../img/team/office-g1c360e7ea_1920.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.team-hero h2 {
  color: #fff;
}

.team-hero .team-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.team-hero .card {
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.team-hero .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-hero .card h5 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.team-hero .card i {
  padding: 10px;
}

.team-hero .card-body {
  height: 160px;
}

.team-hero .card:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.achievements i {
  padding: 10px;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 5px black;
}

.achievements .achievements-list {
  padding: 20px 0;
}

.achievements .achievement-number {
  font-size: 22px;
}

.achievements .achievement-text {
  font-size: 13px;
  text-transform: uppercase;
}

.contact {
  position: relative;
  background-image: url(../img/skyline-g6bd7b10f2_1920.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  color: white;
}

.contact .contact-shadow {
  position: absolute;
  background-color: rgba(13, 10, 24, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.contact h2 {
  color: #ddd;
  font-weight: bold;
}

.contact .underline {
  background-color: white;
}

.contact .contact-us h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.contact .contact-us a {
  font-size: 26px;
  color: white;
  padding: 10px;
}

.contact .contact-us a:hover {
  color: #ddd;
}

.bounce-top {
  display: block;
  -webkit-animation: bounce-top 2s infinite both;
  animation: bounce-top 2s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-26 12:0:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  nav {
    height: 82px;
  }
  .prices .price-info {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-link {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/playstation-gef43ba933_1920.jpg");
  }
}
/*# sourceMappingURL=main.css.map */